body {
    background-image: url("../background.png");
    background-repeat: round;
    font-family: 'Lato';
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: "Lato";
    src: url("../police/Lato.ttf");
}

@font-face {
    font-family: "Lato Black";
    src: url("../police/Lato-Black.ttf");
}

@font-face {
    font-family: "Italianno";
    src: url("../police/Italianno.ttf");
}